button:focus {
    // outline: 2px auto -webkit-focus-ring-color
    outline: none;
}
.btn-primary {
    color: $white;
    background-color: $primary;
    &:hover,
    &.hover,
    &:focus,
    &.focus {
        color: $primary;
        background-color: transparent;
        border-color: $primary;
    }
    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active {
        color: $white;
        background-color: $secondary;
        border-color: $secondary;
    }
}
.btn-outline-secondary {
    &:not(:disabled):not(.disabled) {
        &.active-primary {
            &.active,
            &:active {
                color: $white;
                background-color: $primary;
                border-color: $primary;
            }
        }
    }
}