button:focus {
    outline: 2px auto -webkit-focus-ring-color
}
.btn-primary {
    color: $white;
    background-color: $primary;
    &:hover {
        background-color: $body-color;
        color: $white;
    }
}