.modal-body {
    padding: 32px;
}
.modal-content {
    border: none;
    @extend .shadow;
}
.modal-backdrop {
    background-color: $gray-600;
}
.pointer {
    cursor: pointer;
}
.text-gray-500 {
    color: $gray-500;
}